<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases >
  		<typeAlias alias="ShopVo" type="com.bit.backpackers.shop.model.entity.ShopVo"/>
  		<typeAlias alias="CategoryVo" type="com.bit.backpackers.category.model.entity.CategoryVo"/>
  		<typeAlias alias="ProductVo" type="com.bit.backpackers.product.model.entity.ProductVo"/>
  		<typeAlias alias="ImageVo" type="com.bit.backpackers.image.model.entity.ImageVo"/>
  		<typeAlias alias="ProductItemVo" type="com.bit.backpackers.product.model.entity.ProductItemVo"/>
  		<typeAlias alias="OrderVo" type="com.bit.backpackers.order.model.entity.OrderVo"/>
  		<typeAlias alias="ItemVo" type="com.bit.backpackers.item.model.entity.ItemVo"/>
  	</typeAliases>
  </configuration>